# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git\CPOA_AS2021_Belkacemi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
